.content {
	width: 1000px;
	margin: auto;
}

.content > h1 {
	text-align: center;
}

.lobby > h2 {
	text-align: center;
}

.game-container, .lobby {
	transition: opacity 0.2s ease;
}

.game-container {
	opacity: 0;
}

.canvas {
	background-color: #1D1D1D;
}

.fullscreen-container:-moz-full-screen {
	background-color: black;
    text-align: center;
	display: table;
}
.fullscreen-container:-moz-full-screen > .canvas-wrapper {
	display: table-cell;
	vertical-align: middle;
}

.fullscreen-container:-webkit-full-screen {
	background-color: black;
    text-align: center;
	display: table;
}
.fullscreen-container:-webkit-full-screen > .canvas-wrapper {
	display: table-cell;
	vertical-align: middle;
}
