body {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	background-color: #090909;
	color: #208BB5;
	margin: 0px;
	overflow: hidden;
}

.content {
	user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.content > h1 {
	padding-top: 22px;
	text-align: center;
	font-weight: 700;
	margin: 0px;
	user-select: text;
	-moz-user-select: text;
	-webkit-user-select: text;
	-ms-user-select: text;
}

.settings {
	text-align: center;
	position: absolute;
	width: 100%;
	bottom: 0;
}

.settings > input[type=button] {
	float: right;
}

.help {
	text-align: center;
	pointer-events: none;
	width: 100%;
	position: absolute;
	bottom: 15px;
}

input[type=button] {
	background-color: #208BB5;
	border: none;
	height: 25px;
	font-size: 18px;
	padding-left: 7px;
	padding-right: 7px;
	margin: 0 6px 8px 0px;
	border-radius: 4px;
	font-family: 'Ubuntu Mono', monospace;
	box-shadow: 0px 4px 0px #1D1D1D;
	transition: all .1s ease;
}

input[type=button]:active {
    box-shadow: none;
    position: relative;
    top: 2px;
}

.flashtext {
	position: absolute;
	width: 100%;
	margin-top: -37px;
	transition: opacity 3s ease-out;
	font-weight: 400;
}

html, body, .content, .game-container {
	height: 100%;
}
.fullscreen-container {
	position: absolute;
	width: 100%;
	top: 110px;
	bottom: 38px;
}

.game-container {
	text-align: center;
}

.canvas {
	background-color: #1D1D1D;
}

.fullscreen-container:-moz-full-screen {
	background-color: black;
    text-align: center;
	display: table;
	height: 100%;
}
.fullscreen-container:-moz-full-screen > .game-container {
	display: table-cell;
	vertical-align: middle;
}

.fullscreen-container:-webkit-full-screen {
	background-color: black;
    text-align: center;
	display: table;
	height: 100%;
}
.fullscreen-container:-webkit-full-screen > .game-container {
	display: table-cell;
	vertical-align: middle;
}

.help, .create-lobby {
	display: none;
}
