body {
}

.content {
	width: 1000px;
	margin: auto;
}

.content > h1 {
	text-align: center;
}

.canvas {
	background-color: #1D1D1D;
}

.canvaswrapper:-moz-full-screen {
    text-align: center;
}

.canvaswrapper:-webkit-full-screen {
	background-color: black;
}