body {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	background-color: #090909;
	color: #208BB5;
}

.content {
	margin: auto;
}

.content > h1 {
	text-align: center;
	font-weight: 700;
}

.settings {
	text-align: right;
}

.settings > input[type=button] {
	background-color: #208BB5;
	border: none;
	border-radius: 4px;
	font-family: 'Ubuntu mono', monospace;
}

.lobby {
	text-align: center;
	transition: all 3s;
	font-weight: 400;
}

.canvas-wrapper {
	text-align: center;
}

.canvas {
	background-color: #1D1D1D;
	height: 100%;
}

.fullscreen-container:-moz-full-screen {
	background-color: black;
    text-align: center;
	display: table;
}
.fullscreen-container:-moz-full-screen > .canvas-wrapper {
	display: table-cell;
	vertical-align: middle;
}

.fullscreen-container:-webkit-full-screen {
	background-color: black;
    text-align: center;
	display: table;
}
.fullscreen-container:-webkit-full-screen > .canvas-wrapper {
	display: table-cell;
	vertical-align: middle;
}
