body {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	background-color: #090909;
	color: #208BB5;
	margin: 0px;
	overflow: hidden;
}

.content {
	margin-left: auto;
	margin-right: auto;
}

.content > h1 {
	padding-top: 3%;
	height: 6%;
	text-align: center;
	font-weight: 700;
	margin: 0px;
}

.settings {
	height: 15.5%;
	text-align: center;
	position: absolute;
	width: 100%;
	bottom: 0;
}

.settings > input[type=button] {
	background-color: #208BB5;
	border: none;
	height: 25px;
	font-size: 18px;
	padding-left: 7px;
	padding-right: 7px;
	border-radius: 4px;
	font-family: 'Ubuntu Mono', monospace;
	box-shadow: 0px 4px 0px #1D1D1D;
	transition: all .1s ease;
}

.settings > input[type=button]:active {
    box-shadow: none;
    position: relative;
    top: 2px;
}

.flashtext {
	transition: opacity 3s ease-out;
	font-weight: 400;
}

html, body, .content, .fullscreen-container, .game-container {
	height: 100%;
}

.everything-container {
	height: 70%;
	user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
}

.game-container {
	text-align: center;
}

.canvas {
	background-color: #1D1D1D;
}

.fullscreen-container:-moz-full-screen {
	background-color: black;
    text-align: center;
	display: table;
	height: 100%;
}
.fullscreen-container:-moz-full-screen > .game-container {
	display: table-cell;
	vertical-align: middle;
}

.fullscreen-container:-webkit-full-screen {
	background-color: black;
    text-align: center;
	display: table;
	height: 100%;
}
.fullscreen-container:-webkit-full-screen > .game-container {
	display: table-cell;
	vertical-align: middle;
}
