body {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	background-color: #090909;
	color: #208BB5;
	margin: 0px;
	overflow: hidden;
}

.content {
	margin-left: auto;
	margin-right: auto;
}

.content > h1 {
	padding-top: 3%;
	height: 6%;
	text-align: center;
	font-weight: 700;
	margin: 0px;
}

.settings {
	height: 10%;
	text-align: center;
	position: absolute;
	width: 100%;
	bottom: 0;
}

.settings > input[type=button] {
	background-color: #208BB5;
	border: none;
	height: 17px;
	border-radius: 4px;
	font-family: 'Ubuntu mono', monospace;
}

.lobby {
	text-align: center;
	transition: all 3s;
	font-weight: 400;
}

html, body, .content, .fullscreen-container, .canvas-wrapper {
	height: 100%;
}

.game-container {
	height: 70%;
	user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
}

.canvas-wrapper {
	text-align: center;
}

.canvas {
	background-color: #1D1D1D;
}

.fullscreen-container:-moz-full-screen {
	background-color: black;
    text-align: center;
	display: table;
	height: 100%;
}
.fullscreen-container:-moz-full-screen > .canvas-wrapper {
	display: table-cell;
	vertical-align: middle;
}

.fullscreen-container:-webkit-full-screen {
	background-color: black;
    text-align: center;
	display: table;
	height: 100%;
}
.fullscreen-container:-webkit-full-screen > .canvas-wrapper {
	display: table-cell;
	vertical-align: middle;
}
